* {
    margin: 10;
    padding: 10;
    box-sizing: 10;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #85c1e9;
    color: #154360;
    line-height: 1.6;
    text-align:center;
}
 h1 {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    text-align: center;
    font-size: x-large;
 }
h2 {
    text-align: center;
}
    